body{
	min-width: 1300px;
}
.main{
	width:100%;
	background-color:#cfe6be;
	display:flex;
	justify-content:space-around;
}
.main .header a{
	color:black;
	text-decoration:none;
}
.header1 a:hover{
	font-size:18px;
}
.header2{
	display:inline-block;
	position:relative;
}
.header2  h4{
	cursor:pointer;
}
.ul{
	width:150px;
	position:absolute;
	top:26px;
	background-color:#cfe6be;
	border-radius:5%;
	padding:5px;
	list-style-type:none;
	z-index:1;
	display:none;
}
.li{
	color:#997be3;
}
.header2 h4:hover{
	color:#730017;
	text-shadow:1px 1px;
}
.h4:hover .ul{
	display:block;
}
.header4 a h4{
	border-bottom:1px solid;
	border-radius:15%;
}
.text{
	background-color:#748187;
	height:50px;
	text-align:center;
	padding-top:10px;
}
.video{
	background-color:#748187;
	height:1500px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}
.video1{
	width:560px;
	height:360px;
}
.img1{
	display:grid;
	grid-template-rows:repeat(7, auto);
	grid-template-columns:repeat(6, auto);
	grid-gap:15px;
}
img{
	width:200px;
	height:200px;
	padding-left:5px;
	cursor:zoom-in;
}
img:hover{
	width:250px;
	height:250px;
	transition:1s;
}
.end{
	background-image:url('../img/nkar8.jpg');
	background-size:cover;
	height:400px;
	position:relative;
}
.end img{
	border-radius:100%;
	width:180px;
	height:180px;
	position:absolute;
	left:450px;
	top:100px;
}
.end h1{
	position:absolute;
	left:650px;
	top:100px;
	color:white;
}
.end h4{
	position:absolute;
	left:710px;
	top:170px;
	color:white
}
